<h1>Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <!-- id de jugador -->
  <div>
    <label for="id_jugador">ID de jugador:</label>
    <input
      id="id_jugador"
      type="text"
      formControlName="id_jugador"
      placeholder="#NomXXXX"
    />

    @if (isFieldInvalid('id_jugador')) {
      <span class="missatge-error">Aquest camp és obligatori</span>
    }
  </div>

  <!-- contrasenya -->
  <div>
    <label for="password">Contrasenya:</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="La teva contrasenya"
    />

    @if (isFieldInvalid('password')) {
      <span class="missatge-error">Aquest camp és obligatori</span>
    }
  </div>

  <!-- missatge d'error que ve del backend -->
  @if (errorMessage) {
    <span class="missatge-error">{{ errorMessage }}</span>
  }

  <!-- missatge d'exit -->
  @if (successMessage) {
    <span class="missatge-exit">{{ successMessage }}</span>
  }

  <p>No tens conta? <a routerLink="/registrar">Registrat.</a></p>

  <button type="submit" [disabled]="isLoading">
    {{ isLoading ? 'Carregant...' : 'Login' }}
  </button>

</form>